<!DOCTYPE html>
{% load static %}
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <title>Update</title>
     <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
 </head>
 <body>
 <style>
     body {
        background-color: #86b7fe;
        background-image: linear-gradient(95deg, #86b7fe 5%, #ffc720 95%);
     }
     .button_books {
        background-color: #3dd5f3;
        background-image: linear-gradient(95deg, #3dd5f3 5%, #ffc720 95%);
     }
 </style>
 <div class="container">
     <button type="button" class="btn btn-secondary"><a href="/book/">Books</a></button>
 </div>
 <form action="" method="POST" enctype="multipart/form-data">
     {% csrf_token %}
     {{ form.as_p }}
     <input type="submit" value="Change">
 </form>
 </body>
 </html>